body {
/*    background-image: url("myimg.jpg");
    background-position: right top;
    background-repeat: no-repeat; */
    background-color: #f0f8ff;
    opacity: 1;
}

#icon1{
    color: rgb(255,0,0);
}

#icon2 {
    color: darkblue;
}

#icon3 {
    color: green;
}

#icon4 {
    color: black;
}

#mail:link {
    color: red;
    text-decoration: none;
}

#mail:hover {
    color: green;
    text-decoration: underline;
}
h2 {
    border-style: dashed groove solid ;
    border-radius: 15px;
    border-width: 2px 2px 5px 2px;
    border-color: red blue green blue;
    font-family: monospace ;
    color: rgb(255,0,0);
    text-align: center;
}
h3 {
    font-size: 18px;
    font-family: "Sofia", sans-serif;
    color: blue;
    vertical-align: baseline;
    border-left: 6px solid red;
    border-radius: 5px;
    background-color: lightgrey;
    letter-spacing: 3px;
    padding:15px
}

h3.a1 {
    margin-left: 3px;
}

table{
    margin-left: 25px;
}

th{
    text-align: left;
    background-color: #04AA6D;
    word-spacing: 5px;
    height: 40px;
    width: 150px;
    font-family: monospace;
    text-shadow: 2px 2px 5px red;
    font-size: 15pxvw;
    font-variant: small-caps;
    color: white;
    padding: 5px;
}

td {
    border: 2px solid rgba(255,0,0,0.4);
    border-radius: 15px;
    width: 300px;
    text-align: left;
    word-spacing: 5px;
    height: 25px;
    font-family: monospace;
    font-weight: bold;
    font-size: 12pxvw;
    color: black;
}

td:hover {
    background-color: yellow;
}

strong {
    color: purple;
    font-family: "Audiowide", sans-serif;
    font-size: 15px;
}